# Copyright (c) 2023, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            ^rapids-cmake/cpm/patches/.*
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            ^rapids-cmake/cpm/patches/.*
          )
      - id: check-json
      - id: pretty-format-json
        args: ["--autofix", "--no-sort-keys"]
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [tomli]
        args: ["--toml", "pyproject.toml"]
        exclude: |
          (?x)^(
            ^rapids-cmake/cpm/patches/.*
          )
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.17.0
    hooks:
        - id: rapids-dependency-file-generator
          args: ["--clean"]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: ./ci/checks/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        files: |
          (?x)^(
            ^rapids-cmake/.*$
          )
      - id: cmake-lint
        name: cmake-lint
        entry: ./ci/checks/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
        files: |
          (?x)^(
            ^rapids-cmake/.*$
          )
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.6.0
    hooks:
      - id: verify-copyright
        files: |
          (?x)
              [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx)$|
              CMakeLists[.]txt$|
              meta[.]yaml$
      - id: verify-codeowners
        args: [--fix, --project-prefix=rapids, --no-cpp, --no-python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
        files: ^ci/

default_language_version:
  python: python3
